@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

/* default css and utility classes */

body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

nav a {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

img {
  width: 100%;
}

h1,
h2,
h3,
p {
  font-family: "Rubik", sans-serif;
  font-style: normal;
}

h1 {
  font-size: 74px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.2px;
  color: #ffffff;
  max-width: 677px;
  margin-inline: auto;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252b42;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252b42;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #374754;
}

.btn {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  background-color: #2091f9;
  color: #ffffff;
}

.container-1440 {
  max-width: 1440px;
  margin-inline: auto;
}
.container-1243 {
  max-width: 1243px;
  margin-inline: auto;
}

.banner {
  background: url("./images/banner.png") no-repeat center;
  background-size: cover;
}
.icon {
  cursor: pointer;
}

.tag-line {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
}

.common-text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #374754;
}

.padding_y {
  padding-top: 31px;
  padding-bottom: 31px;
}

.google {
  padding-top: 31px;
  padding-bottom: 31px;
}

.form {
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border: 1px solid #dddddd;
}
textarea {
  resize: none;
}

.footer_links {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.price_card {
  border: 1px solid #dedede;
  cursor: pointer;
}

.price_card:hover {
  padding-top: 86px;
  padding-bottom: 43px;
  transition: all 0.3s;
  background-color: #2091f9;
}
.price_card:hover p,
.price_card:hover h1,
.price_card:hover h3 {
  color: #ffffff;
}
.price_card:hover > button {
  color: #2091f9;
  background: #ffffff;
}

video {
  border-radius: 45px;
}
